{% extends "shop/base.html" %}
{% block title %}
О нас
{% endblock %}
{% block content %}
    <style>
         ::-webkit-scrollbar {
            width: 15px;
        }
        
         ::-webkit-scrollbar-track {
            background: rgb(193, 125, 125);
        }
        
         ::-webkit-scrollbar-thumb {
            background: rgb(94, 75, 234);
        }
        
        html {
            scrollbar-width: thin;
            scrollbar-color: #6E9C9F #f1eadc;
        }
    </style>
    {% include 'shop/components/header.html' %}
    {% include 'shop/components/about-section.html' %}
    {% include 'shop/components/footer.html' %}
{% endblock %}