{% extends "shop/base.html" %}
{% block title %}
Каталог
{% endblock %}
{% block content %}
    <style>
         ::-webkit-scrollbar {
            width: 15px;
        }
        
         ::-webkit-scrollbar-track {
            background: rgb(193, 125, 125);
        }
        
         ::-webkit-scrollbar-thumb {
            background: rgb(94, 75, 234);
        }
        
        html {
            scrollbar-width: thin;
            scrollbar-color: #6E9C9F #f1eadc;
        }
    </style>
    <!-- header screen -->
    {% include 'shop/components/header.html' %}
    <!--нужно решение как правильно выполнить данный блок -->
    <section class="shopping">
        <div class="container">
            <div class="shop-main_title h-title m-title">
                Магазин
            </div>
            <div class="shop-catalog">
                <nav class="shop-navigation">
                    <ul class="shop-navigation_list">
                        <li class="shop-navigation_tab">
                            <button class="shop-navigation_button active">
                                Все
                            </button>
                        </li>
                        <li class="shop-navigation_tab">
                            <button class="shop-navigation_button">
                                Пальто
                            </button>
                        </li>
                        <li class="shop-navigation_tab">
                            <button class="shop-navigation_button">
                                Свитшоты
                            </button>
                        </li>
                        <li class="shop-navigation_tab">
                            <button class="shop-navigation_button">
                                Толстовки
                            </button>
                        </li>
                        <li class="shop-navigation_tab">
                            <button class="shop-navigation_button">
                                Кардиганы
                            </button>
                        </li>
                    </ul>
                </nav>
                <div class="shop-navigation_quantity">
                    Показано: 9 из 12 товаров
                </div>
                <div class="shop-catalog_all">
                    <div class="shop-gallery shop-catalog_list active">
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>
                    </div>
                    <div class="shop-gallery shop-catalog_list">
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>

                            <h3 class="shop-gallery_title">
                                Купальник Glow
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$229</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>

                            <h3 class="shop-gallery_title">
                                Купальник Glow
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$229</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>

                            <h3 class="shop-gallery_title">
                                Купальник Glow
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$229</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>

                            <h3 class="shop-gallery_title">
                                Купальник Glow
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$229</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>

                            <h3 class="shop-gallery_title">
                                Купальник Glow
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$229</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>

                            <h3 class="shop-gallery_title">
                                Купальник Glow
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$229</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>

                            <h3 class="shop-gallery_title">
                                Купальник Glow
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$229</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>

                            <h3 class="shop-gallery_title">
                                Купальник Glow
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$229</s> $129
                            </p>
                        </div>

                    </div>
                    <div class="shop-gallery shop-catalog_list">
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>

                    </div>
                    <div class="shop-gallery shop-catalog_list">
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Футболка USA
                            </h3>
                            <p class="shop-gallery_price">
                                $129
                            </p>
                        </div>

                    </div>
                    <div class="shop-gallery shop-catalog_list">
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>

                            <h3 class="shop-gallery_title">
                                Купальник Glow
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$229</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>

                            <h3 class="shop-gallery_title">
                                Купальник Glow
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$229</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>

                            <h3 class="shop-gallery_title">
                                Купальник Glow
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$229</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>

                            <h3 class="shop-gallery_title">
                                Купальник Glow
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$229</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>

                            <h3 class="shop-gallery_title">
                                Купальник Glow
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$229</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>

                            <h3 class="shop-gallery_title">
                                Купальник Glow
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$229</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>

                            <h3 class="shop-gallery_title">
                                Купальник Glow
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$229</s> $129
                            </p>
                        </div>
                        <div class="shop-gallery_window shop-catalog_window">
                            <div class="shop-gallery_photo">
                                <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                                <a href="#" class="shop-photo-bg">
                                </a>
                            </div>
                            <h3 class="shop-gallery_title">
                                Свитшот Sweet Shot
                            </h3>
                            <p class="shop-gallery_price">
                                <s>$169</s> $129
                            </p>
                        </div>
                    </div>
                </div>
                <div class="shop-navigation_quantity">
                    Показано: 9 из 12 товаров
                </div>
                <div class="shop-list">
                    <ul class="shop-list_navigation">
                        <li class="shop-list_tab">
                            <button class="shop-list_button active">
                                1
                            </button>
                        </li>
                        <li class="shop-list_tab">
                            <button class="shop-list_button">
                                2
                            </button>
                        </li>
                        <button class="arrow-btn"></button>
                    </ul>
                </div>
            </div>
    </section>
    <!-- footer section -->
    {% include 'shop/components/footer.html' %}
{% endblock %}