<div class="shop-gallery_window shop-catalog_window">
    <div class="shop-gallery_photo">
        <img src="{{ item.photo.url }}" class="shop-photo" width="350px" height="478px" alt="shop-photo">
        <a href="{% url 'card_product' item.id %}" class="shop-photo-bg">
            {{ item.slug }}
        </a>
    </div>
    <h3 class="shop-gallery_title">
        {{ item.title }}
    </h3>
    <p class="shop-gallery_price">
        {% if item.new_price %}
            <s>${{ item.price }}</s> ${{ item.new_price }}
        {% else %}
            ${{ item.price }}
        {% endif %}
    </p>
</div>