{% load static %}
<section class="fourth-screen">
    <div class="container">
        <div class="team">
            <h2 class="team-title h-title">
                {{ content.life_title }}
            </h2>
            <div class="team-row">
                <div class="team-container">
                    <div class="swiper team-slider">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper team-slider_gallery">
                            <!-- Slides -->
                            {% for slide in sliders %}
                                {% include 'shop/components/final-slide.html' %}
                            {% endfor %}
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination pagination-class"></div>
                        <!-- If we need navigation buttons -->
                    </div>
                </div>
                <div class="team-description">
                    <h3 class="team-description_title">
                        {{ content.small_title }}
                    </h3>
                    <p class="team-description_text">
                        {{ content.small_description }}
                    </p>
                    <a href="about.html" class="team-description_about">
                        Подробнее о бренде
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>