<section class="first-screen">
    <div class="container ">
        <div class="first-screen_position">
            <div class="info">
                <div class="swiper info-slider">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        {% include 'shop/components/head-slide.html' %}
                    </div>
                    <!-- if we need pagination -->
                    <div class="swiper-pagination margin-dot"></div>
                </div>
            </div>
        </div>
    </div>
</section>