<footer class="footer">
    <div class="container">
        <div class="footer-menu">
            <div class="logo-footer">
                <div class="logo  logotype">
                    <a href="index.html" class="logo-home">
                    </a>
                </div>
                <div class="privacy">
                    <p class="privacy-security">
                        © Все права защищены
                    </p>
                    <p class="privacy-politic">
                        Политика конфиденциальности
                    </p>
                    <p class="privacy-public">
                        Публичная оферта
                    </p>
                </div>
            </div>
            <div class="menu-footer">
                <nav class="nav-menu nav-menu_footer">
                    <ul class="nav-menu-list">
                        <li class="menu-tab">
                            <a href="../static/" class="menu-link">
                                Главная
                            </a>
                        </li>
                        <li class="menu-tab">
                            <a href="../static/" class="menu-link">
                                Магазин
                            </a>
                        </li>
                        <li class="menu-tab">
                            <a href="../static/" class="menu-link">
                                О бренде
                            </a>
                        </li>
                        <li class="menu-tab">
                            <a href="../static/" class="menu-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="footer-authorithation">
                    <p class="footer-authorithation_text">
                        Хочешь Быть в центре событий, первой знать о новых изделиях 
                        и скидках от Libertina? Пройди регистрацию! Есть аккаунт? Войди в него!
                    </p>
                    <a href="#" class="footer-authoristhation_signin">Регистрация</a>
                    <a href="#" class="footer-authorithation_login">Вход</a>
                </div>
            </div>

            <div class="footer-pay">
                <div class="phone-number_footer">
                    <a href="#" class="phone-footer">
                        +375 (29) 330-71-84
                    </a>
                </div>
                <div class="footer-mail">
                    <a href="#" class="mail-address">
                        hello@libertina.com
                    </a>
                </div>
                <div class="footer-connect">
                    <a href="№" class="footer-connect_social insta" rel="nofollow">
                    
                    </a>
                    <a href="№" class="footer-connect_social fbook" rel="nofollow">

                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>