<header class="header">
    <div class="container container-header">
        <div class="header-info">
            <div class="logo">
                <a href="{% url 'shop_index' %}" class="logo-home">
                </a>
            </div>
            <!-- menu header -->
            <nav class="nav-menu">
                <ul class="nav-menu-list">
                    <li class="menu-tab">
                        <a href="{% url 'shop_index' %}" class="menu-link">
                            Главная
                        </a>
                    </li>
                    <li class="menu-tab">
                        <a href="{% url 'shop_list' %}" class="menu-link">
                            Магазин
                        </a>
                    </li>
                    <li class="menu-tab">
                        <a href="{% url 'shop_about' %}" class="menu-link">
                            Блог
                        </a>
                    </li>
                    <li class="menu-tab">
                        <a href="{% url 'shop_contact' %}" class="menu-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="call-mag">
                <div class="phone-number">
                    <a href="#" class="phone">
                        <div class="phone-icon"></div>
                        <p class="phone-text">+375 (29) 330-71-84</p>
                    </a>
                </div>
                <div class="basket">
                    <p class="basket-fullness">
                        1
                    </p>
                </div>
            </div>
            <button class="menu-triger menu-button"></button>
            <!-- mobile-menu -->
            <div class="menu-popup mobile-menu_popup">
                <a class="menu-close" href="#"></a>
                <ul class="mobile-menu">
                    <li class="mobile-menu_tab">
                        <a href="{% url 'shop_index' %}">Главная</a>
                    </li>
                    <li class="mobile-menu_tab">
                        <a href="{% url 'shop_list' %}">Магазин</a>
                    </li>
                    <li class="mobile-menu_tab">
                        <a href="{% url 'shop_about' %}">О бренде</a>
                    </li>
                    <li class="mobile-menu_tab">
                        <a href="{% url 'shop_contact' %}">Контакты</a>
                    </li>
                    <li class="mobile-menu_tab">
                        <a href="tel:+375291739013" class="inline">
                            <div class="phone-icon"></div>
                            <p class="phone-text">+375 (29) 173-90-13</p>
                        </a>
                    </li>
                    <li class="mobile-menu_tab">
                        <button class="basket">
                            <p class="basket-fullness">
                                1
                            </p>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>