{% load static %}
<section class="second-screen">
    <div class="container ">
        <div class="shop">
            <h2 class="shop-title h-title">
                {{ content.collection_title }}
            </h2>
            <div class="shop-gallery gallery-category_id__1" id="shop-gallery">
                <h3 class="shop-gallery_title" style="margin-bottom: 30px; width: 100%; font-size: 24px;">Свитшоты</h3>
                {% for sweat in sweetshot %}
                    {% include 'shop/components/block-sweatshot.html' %}
                {% endfor %}
            </div>
            <div class="shop-gallery gallery-category_id__2" id="shop-gallery">
                <h3 class="shop-gallery_title" style="margin-bottom: 30px; width: 100%; font-size: 24px;">Футболки</h3>
                {% for shirt in tshirt %}
                    {% include 'shop/components/block-tshirt.html' %}
                {% endfor %}
            </div>
            <div class="shop-gallery gallery-category_id__3" id="shop-gallery">
                <h3 class="shop-gallery_title" style="margin-bottom: 30px; width: 100%; font-size: 24px;">Лонгсливы</h3>
                {% for long in longsleeve %}
                    {% include 'shop/components/block-longsleeve.html' %}
                {% endfor %}
            </div>
            <a href="{% url 'shop_list' %}" class="go-mag">Открыть магазин</a>
        </div>
    </div>
</section>