{% load static %}
<section class="second-screen">
    <div class="container ">
        <div class="shop">
            <h2 class="shop-title h-title">
                Новая коллекция
            </h2>
            <div class="shop-gallery gallery-category_id__1" id="shop-gallery">
                <h3 class="shop-gallery_title" style="margin-bottom: 30px; width: 100%; font-size: 24px;">Свитшоты</h3>
                <div class="shop-gallery_window">
                    <div class="shop-gallery_photo">
                        <img src="{% static 'shop/images/shop.jpg' %}" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                        <a href="#" class="shop-photo-bg">
                        </a>
                    </div>
                    <h3 class="shop-gallery_title">
                        Купальник Glow
                    </h3>
                    <p class="shop-gallery_price">
                        <s>$229</s> $129
                    </p>
                </div>
                <div class="shop-gallery_window">
                    <div class="shop-gallery_photo">
                        <img src="{% static 'shop/images/shop-one.jpg' %}" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                        <a href="#" class="shop-photo-bg">
                        </a>
                    </div>
                    <h3 class="shop-gallery_title">
                        Свитшот Sweet Shot
                    </h3>
                    <p class="shop-gallery_price">
                        <s>$169</s> $129
                    </p>
                </div>
                <div class="shop-gallery_window">
                    <div class="shop-gallery_photo">
                        <img src="{% static 'shop/images/shop-two.jpg' %}" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                        <a href="#" class="shop-photo-bg">
                        </a>
                    </div>
                    <h3 class="shop-gallery_title">
                        Футболка USA
                    </h3>
                    <p class="shop-gallery_price">
                        $129
                    </p>
                </div>
            </div>
            <div class="shop-gallery gallery-category_id__2" id="shop-gallery">
                <h3 class="shop-gallery_title" style="margin-bottom: 30px; width: 100%; font-size: 24px;">Футболки</h3>
                <div class="shop-gallery_window">
                    <div class="shop-gallery_photo">
                        <img src="{% static 'shop/images/shop.jpg' %}" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                        <a href="#" class="shop-photo-bg">
                        </a>
                    </div>
                    <h3 class="shop-gallery_title">
                        Купальник Glow
                    </h3>
                    <p class="shop-gallery_price">
                        <s>$229</s> $129
                    </p>
                </div>
                <div class="shop-gallery_window">
                    <div class="shop-gallery_photo">
                        <img src="{% static 'shop/images/shop-one.jpg' %}" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                        <a href="#" class="shop-photo-bg">
                        </a>
                    </div>
                    <h3 class="shop-gallery_title">
                        Свитшот Sweet Shot
                    </h3>
                    <p class="shop-gallery_price">
                        <s>$169</s> $129
                    </p>
                </div>
                <div class="shop-gallery_window">
                    <div class="shop-gallery_photo">
                        <img src="{% static 'shop/images/shop-two.jpg' %}" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                        <a href="#" class="shop-photo-bg">
                        </a>
                    </div>
                    <h3 class="shop-gallery_title">
                        Футболка USA
                    </h3>
                    <p class="shop-gallery_price">
                        $129
                    </p>
                </div>
            </div>
            <div class="shop-gallery gallery-category_id__3" id="shop-gallery">
                <h3 class="shop-gallery_title" style="margin-bottom: 30px; width: 100%; font-size: 24px;">Лонгсливы</h3>
                <div class="shop-gallery_window">
                    <div class="shop-gallery_photo">
                        <img src="{% static 'shop/images/shop.jpg' %}" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                        <a href="#" class="shop-photo-bg">
                        </a>
                    </div>
                    <h3 class="shop-gallery_title">
                        Купальник Glow
                    </h3>
                    <p class="shop-gallery_price">
                        <s>$229</s> $129
                    </p>
                </div>
                <div class="shop-gallery_window">
                    <div class="shop-gallery_photo">
                        <img src="{% static 'shop/images/shop-one.jpg' %}" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                        <a href="#" class="shop-photo-bg">
                        </a>
                    </div>
                    <h3 class="shop-gallery_title">
                        Свитшот Sweet Shot
                    </h3>
                    <p class="shop-gallery_price">
                        <s>$169</s> $129
                    </p>
                </div>
                <div class="shop-gallery_window">
                    <div class="shop-gallery_photo">
                        <img src="{% static 'shop/images/shop-two.jpg' %}" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                        <a href="#" class="shop-photo-bg">
                        </a>
                    </div>
                    <h3 class="shop-gallery_title">
                        Футболка USA
                    </h3>
                    <p class="shop-gallery_price">
                        $129
                    </p>
                </div>
            </div>
            <button class="go-mag button" onclick="window.location.href = 'shop.html';">
                Открыть магазин
            </button>
        </div>
    </div>
</section>