<section class="shopping">
    <div class="container">
        <div class="shop-main_title h-title m-title">
            Магазин
        </div>
        <div class="shop-catalog">
            <nav class="shop-navigation">
                <ul class="shop-navigation_list">
                    {% for category in categories %}
                        {% include 'shop/components/buttons-shop.html' %}
                    {% endfor %}
                </ul>
            </nav>
            <div class="shop-navigation_quantity">
                Показано: 9 из 9 товаров
            </div>
            <div class="shop-catalog_all">
                <div class="shop-gallery shop-catalog_list active">
                    <!-- Все изделия -->
                    {% for product in all_products %}
                        {% include 'shop/components/block_all.html' %}
                    {% endfor %}                     
                </div>
                <div class="shop-gallery shop-catalog_list">
                    <!-- Лонгсливы -->
                    {% for long in longsleeve %}
                        {% include 'shop/components/block-longsleeve.html' %}
                    {% endfor %}
                </div>
                <div class="shop-gallery shop-catalog_list">
                    <!-- Свитшоты-->
                    {% for sweat in sweetshot %}
                        {% include 'shop/components/block-sweatshot.html' %}
                    {% endfor %}
                </div>
                <div class="shop-gallery shop-catalog_list">
                    <!-- Футболки -->
                        {% for shirt in tshirt %}
                        {% include 'shop/components/block-tshirt.html' %}
                    {% endfor %}
                </div>
                <!-- <div class="shop-gallery shop-catalog_list">
                        На будущее для образца
                    <div class="shop-gallery_window shop-catalog_window">
                        <div class="shop-gallery_photo">
                            <img src="../static/images/shop.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                            <a href="#" class="shop-photo-bg">
                            </a>
                        </div>

                        <h3 class="shop-gallery_title">
                            Купальник Glow
                        </h3>
                        <p class="shop-gallery_price">
                            <s>$229</s> $129
                        </p>
                    </div>
                </div> -->
            </div>
            <div class="shop-navigation_quantity">
                Показано: 9 из 12 товаров
            </div>
            <div class="shop-list">
                <ul class="shop-list_navigation">
                    <li class="shop-list_tab">
                        <button class="shop-list_button active">
                            1
                        </button>
                    </li>
                    <li class="shop-list_tab">
                        <button class="shop-list_button">
                            2
                        </button>
                    </li>
                    <button class="arrow-btn"></button>
                </ul>
            </div>
        </div>
</section>