<section class="shopping">
    <div class="container">
        <div class="shop-main_title h-title m-title">
            Магазин
        </div>
        <div class="shop-catalog">
            <nav class="shop-navigation">
                <ul class="shop-navigation_list">
                    {% for category in categories %}
                        {% include 'shop/components/buttons-shop.html' %}
                    {% endfor %}
                </ul>
            </nav>
            <div class="shop-navigation_quantity">
                Показано: 9 из 9 товаров
            </div>
            <div class="shop-catalog_all">
                {% for product in category_map %}
                    <div class="shop-gallery shop-catalog_list">
                        {% for item in product %}
                            {% include 'shop/components/block_all.html'%}
                        {% endfor %}
                    </div>  
                {% endfor %}
            </div>
            <div class="shop-navigation_quantity">
                Показано: 9 из 12 товаров
            </div>
            <div class="shop-list">
                {% comment %} <ul class="shop-list_navigation">
                    <li class="shop-list_tab">
                        <button class="shop-list_button active">
                            1
                        </button>
                    </li>
                    <li class="shop-list_tab">
                        <button class="shop-list_button">
                            2
                        </button>
                    </li>
                    <button class="arrow-btn"></button>
                </ul> {% endcomment %}
            </div>
        </div>
</section>