<section class="third-screen">
    <div class="container ">
        <div class="important">
            <h2 class="important-title h-title">
                Что очень важно
            </h2>
            <div class="important-category">
                <div class="important-category_block block-one">
                    <h3 class="important-category_title">
                        Качество
                    </h3>
                    <p class="important-category_text">
                        При изготовлении изделий тщательно отбирается ткань, чтобы гарантировать высокое качество для клиентов.
                    </p>
                </div>
                <div class="important-category_block block-two">
                    <h3 class="important-category_title">
                        Уникальность
                    </h3>
                    <p class="important-category_text">
                        Каждый принт разрабатывается индивидуально под каждого клиента, что делает изделие уникальным и неповторимым.
                    </p>
                </div>
                <div class="important-category_block block-three">
                    <h3 class="important-category_title">
                        Ответственность
                    </h3>
                    <p class="important-category_text">
                        Ответственный подход в выборе изделий и создании собственного принта ручной работы для каждого клиента.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>