<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О бренде</title>
    <meta name="description" content="Womazing - магазин модной женской одежды">
    <meta name="keywords" content="РБ, Республика Беларусь, Минск, Минский район, 
    Беларусь, Womazing, магазин модной женской одежды, футболки Womazing, 
    кардиганы Womazing, купальники Womazing, футболки, кардиганы, купальники, 
    мода, одежда, женщины, девушки">
    <!-- favicon -->
    <link rel="shortcut icon" href="../static/images/flaticon.jpg">
    <!-- Open graf tags -->
    <meta property="og:title" content="Магазин женской одежды Womazing.">
    <meta property="og:description" content="Магазин женской одежды Womazing. Футболки, байки, кардиганы, купальники в магазине Womazing">
    <meta property="og:type" content="article">
    <meta property="og:image" content="../static/images/ogimage.png">
    <meta property="og:site_name" content="http://womazing.by">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet " href="../static/css/style.css ">
</head>

<body>
    <style>
         ::-webkit-scrollbar {
            width: 15px;
        }
        
         ::-webkit-scrollbar-track {
            background: rgb(193, 125, 125);
        }
        
         ::-webkit-scrollbar-thumb {
            background: rgb(94, 75, 234);
        }
        
        html {
            scrollbar-width: thin;
            scrollbar-color: #6E9C9F #f1eadc;
        }
    </style>
    <header class="header active">
        <div class="container container-header">
            <div class="header-info">
                <div class="logo">
                    <a href="index.html" class="logo-home">
                        Womazing
                    </a>
                </div>
                <!-- menu header -->
                <nav class="nav-menu">
                    <ul class="nav-menu-list">
                        <li class="menu-tab">
                            <a href="index.html" class="menu-link active">
                                Главная
                            </a>
                        </li>
                        <li class="menu-tab">
                            <a href="shop.html" class="menu-link">
                                Магазин
                            </a>
                        </li>
                        <li class="menu-tab">
                            <a href="about.html" class="menu-link">
                                О бренде
                            </a>
                        </li>
                        <li class="menu-tab">
                            <a href="contact.html" class="menu-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="call-mag">
                    <div class="phone-number">
                        <a href="#" class="phone">
                            <div class="phone-icon"></div>
                            <p class="phone-text">+375 (29) 173-90-13</p>
                        </a>
                    </div>
                    <div class="basket">
                        <p class="basket-fullness">
                            1
                        </p>
                    </div>
                </div>
                <button class="menu-triger menu-button" href="#"></button>
                <!-- mobile-menu -->
                <div class="menu">
                    <div class="menu-popup mobile-menu_popup">
                        <a class="menu-close" href="#"></a>
                        <ul class="mobile-menu">
                            <li class="mobile-menu_tab">
                                <a href="index.html">Главная</a>
                            </li>
                            <li class="mobile-menu_tab">
                                <a href="shop.html">Магазин</a>
                            </li>
                            <li class="mobile-menu_tab">
                                <a href="about.html">О бренде</a>
                            </li>
                            <li class="mobile-menu_tab">
                                <a href="contact.html">Контакты</a>
                            </li>
                            <li class="mobile-menu_tab">
                                <a href="tel:+375291739013" class="inline">
                                    <div class="phone-icon"></div>
                                    <p class="phone-text">+375 (29) 173-90-13</p>
                                </a>
                            </li>
                            <li class="mobile-menu_tab">
                                <button class="basket">
                                    <p class="basket-fullness">
                                        1
                                    </p>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="about">
        <div class="container">
            <div class="about-title h-title m-title">
                О бренде
            </div>
            <div class="about-bread_crumbs">
                <a href="index.html" class="crumb">Главная - </a>
                <p class="include-page"> О бренде</p>
            </div>
            <div class="about-details">
                <div class="about-photo photo-one">
                    <img src="../static/about-images/girl-photo.jpg" class="about-image" alt="">
                </div>
                <div class="about-text">
                    <div class="about-text_title">
                        Идея и женщина
                    </div>
                    <div class="about-text_par">
                        Womazing была основана в 2010-ом и стала одной из самых успешных компаний нашей страны. Как и многие итальянские фирмы, Womazing остаётся семейной компанией, хотя ни один из членов семьи не является модельером.<br><br> Мы действуем
                        по успешной формуле, прибегая к услугам известных модельеров для создания своих коллекций. Этот метод был описан критиком моды Колином Макдауэллом как форма дизайнерского со-творчества, характерная для ряда итальянских prêt-a-porter
                        компаний.
                    </div>
                </div>
            </div>
            <div class="about-details about-details_reverce">
                <div class="about-text">
                    <div class="about-text_title">
                        Магия в деталях
                    </div>
                    <div class="about-text_par">
                        Первый магазин Womazing был открыт в маленьком городке на севере страны в 2010-ом году. Первая коллекция состояла из двух пальто и костюма, которые были копиями парижских моделей.<br><br> Несмотря на то, что по образованию основательница
                        была адвокатом, ее семья всегда была тесно связана с шитьём (прабабушка основательницы шила одежду для женщин, а мать основала профессиональную школу кроя и шитья). Стремление производить одежду для масс несло в себе большие перспективы,
                        особенно в то время, когда высокая мода по-прежнему доминировала, а рынка качественного prêt-a-porter попросту не существовало.
                    </div>
                </div>
                <div class="about-photo photo-two">
                    <img src="../static/about-images/girl-sun.jpg" class="about-image" alt="">
                </div>
            </div>
            <button class="info-slider_button">
                <p class="info-slider_button_text">Открыть магазин</p>
            </button>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer-menu">
                <div class="logo-footer">
                    <div class="logo  logotype">
                        <a href="#" class="logo-home">
                        WOMAZING
                    </a>
                    </div>
                    <div class="privacy">
                        <p class="privacy-security">
                            © Все права защищены
                        </p>
                        <p class="privacy-politic">
                            Политика конфиденциальности
                        </p>
                        <p class="privacy-public">
                            Публичная оферта
                        </p>
                    </div>
                </div>
                <div class="menu-footer">
                    <nav class="nav-menu nav-menu_footer">
                        <ul class="nav-menu-list">
                            <li class="menu-tab">
                                <a href="" class="menu-link">
                                    Главная
                                </a>
                            </li>
                            <li class="menu-tab">
                                <a href="" class="menu-link">
                                    Магазин
                                </a>
                            </li>
                            <li class="menu-tab">
                                <a href="" class="menu-link">
                                    О бренде
                                </a>
                            </li>
                            <li class="menu-tab">
                                <a href="" class="menu-link">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="menu-product">
                        <ul class="menu-product_list">
                            <li class="menu-product_tab">
                                <a href="" class="menu-product_link">
                                    Пальто
                                </a>
                            </li>
                            <li class="menu-product_tab">
                                <a href="" class="menu-product_link">
                                    Свитшоты
                                </a>
                            </li>
                            <li class="menu-product_tab">
                                <a href="" class="menu-product_link">
                                    Кардиганы
                                </a>
                            </li>
                            <li class="menu-product_tab">
                                <a href="" class="menu-product_link">
                                    Толстовки
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer-pay">
                    <div class="phone-number phone-number_footer">
                        <a href="#" class="phone phone-footer">
                            +7 (495) 823-54-12
                        </a>
                    </div>
                    <div class="footer-mail">
                        <a href="#" class="mail-address">
                            hello@womazing.com
                        </a>
                    </div>
                    <div class="footer-connect">
                        <button class="footer-connect_social insta">
                        
                        </button>
                        <button class="footer-connect_social fbook">

                        </button>
                        <button class="footer-connect_social twitter">

                        </button>
                    </div>
                    <!-- need to position: right -->
                    <div class="pay-variant">

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/jquery.main.js"></script>
</body>

</html>