<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Главная</title>
    <!-- CEO-need -->
    <meta name="description" content="Womazing - магазин модной женской одежды">
    <meta name="keywords" content="РБ, Республика Беларусь, Минск, Минский район, 
    Беларусь, Womazing, магазин модной женской одежды, футболки Womazing, 
    кардиганы Womazing, купальники Womazing, футболки, кардиганы, купальники, 
    мода, одежда, женщины, девушки">
    <!-- favicon -->
    <link rel="shortcut icon" href="../static/images/flaticon.jpg">
    <!-- Open graf tags -->
    <meta property="og:title" content="Магазин женской одежды Womazing.">
    <meta property="og:description" content="Магазин женской одежды Womazing. Футболки, байки, кардиганы, купальники в магазине Womazing">
    <meta property="og:type" content="article">
    <meta property="og:image" content="../static/images/ogimage.png">
    <meta property="og:site_name" content="http://womazing.by">
    <!-- connect styles for project -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet " href="../static/css/style.css ">
</head>

<body>
    <style>
         ::-webkit-scrollbar {
            width: 15px;
        }
        
         ::-webkit-scrollbar-track {
            background: rgb(193, 125, 125);
        }
        
         ::-webkit-scrollbar-thumb {
            background: rgb(94, 75, 234);
        }
        
        html {
            scrollbar-width: thin;
            scrollbar-color: #6E9C9F #f1eadc;
        }
    </style>
    <!-- header screen -->
    <header class="header">
        <div class="container container-header">
            <div class="header-info">
                <div class="logo">
                    <a href="index.html" class="logo-home">
                        Libertina
                    </a>
                </div>
                <!-- menu header -->
                <nav class="nav-menu">
                    <ul class="nav-menu-list">
                        <li class="menu-tab">
                            <a href="index.html" class="menu-link">
                                Главная
                            </a>
                        </li>
                        <li class="menu-tab">
                            <a href="shop.html" class="menu-link">
                                Магазин
                            </a>
                        </li>
                        <li class="menu-tab">
                            <a href="about.html" class="menu-link">
                                О бренде
                            </a>
                        </li>
                        <li class="menu-tab">
                            <a href="contact.html" class="menu-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="call-mag">
                    <div class="phone-number">
                        <a href="#" class="phone">
                            <div class="phone-icon"></div>
                            <p class="phone-text">+375 (29) 330-71-84</p>
                        </a>
                    </div>
                    <div class="basket">
                        <p class="basket-fullness">
                            1
                        </p>
                    </div>
                </div>
                <button class="menu-triger menu-button" href="#"></button>
                <!-- mobile-menu -->
                <div class="menu">
                    <div class="menu-popup mobile-menu_popup">
                        <a class="menu-close" href="#"></a>
                        <ul class="mobile-menu">
                            <li class="mobile-menu_tab">
                                <a href="index.html">Главная</a>
                            </li>
                            <li class="mobile-menu_tab">
                                <a href="shop.html">Магазин</a>
                            </li>
                            <li class="mobile-menu_tab">
                                <a href="about.html">О бренде</a>
                            </li>
                            <li class="mobile-menu_tab">
                                <a href="contact.html">Контакты</a>
                            </li>
                            <li class="mobile-menu_tab">
                                <a href="tel:+375291739013" class="inline">
                                    <div class="phone-icon"></div>
                                    <p class="phone-text">+375 (29) 173-90-13</p>
                                </a>
                            </li>
                            <li class="mobile-menu_tab">
                                <button class="basket">
                                    <p class="basket-fullness">
                                        1
                                    </p>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
    <!-- first section screen -->
    <section class="first-screen">
        <div class="container ">
            <div class="first-screen_position">
                 <div class="gallery-row">
                    <div class="swiper gallery">
                        <div class="swiper-wrapper gallery-slider">
                            <div class="swiper-slide gallery-slider_image">
                                <img src="../static/images/slider-one.jpg" class="slide" alt="slider-photo">
                            </div>
                            <div class="swiper-slide gallery-slider_image">
                                <img src="../static/images/slider-one.jpg" class="slide" alt="slider-photo">
                            </div>
                            <div class="swiper-slide gallery-slider_image">
                                <img src="../static/images/slider-one.jpg" class="slide" alt="slider-photo">
                            </div>
                        </div>
                    </div>
                    <div class="gallery-bg_image one-image">
                        <img src="../static/images/headerph-one.jpg" width="380px" height="570px" class="bg-image_one" alt="bg-image">
                    </div>
                    <div class="gallery-bg_image two-image">
                        <img src="../static/images/headerph-two.jpg" width="197px" height="296px" class="bg-image_two" alt="bg-image">
                    </div>
                </div>
                <div class="info">
                    <div class="swiper info-slider">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <h1 class="info-slider_title">
                                    Новые поступления в этом сезоне
                                </h1>
                                <p class="info-slider_text">
                                    Утонченные сочетания и бархатные оттенки - вот то, что вы искали в этом сезоне. Время исследовать.
                                </p>
                                <button class="info-slider_button">
                                    <div class="button-vector"></div>
                                    <a href="#shop-gallery" class="info-slider_button_text">Открыть магазин</a>
                                </button>
                            </div>
                            <div class="swiper-slide">
                                <h1 class="info-slider_title">
                                    Что-то новенькое. Мы заждались тебя.
                                </h1>
                                <p class="info-slider_text">
                                    Надоело искать себя в сером городе? Настало время новых идей, свежих красок и вдохновения с Womazing!
                                </p>
                                <button class="info-slider_button">
                                    <div class="button-vector"></div>
                                    <a href="#shop-gallery" class="info-slider_button_text">Открыть магазин</a>
                                </button>
                            </div>
                            <div class="swiper-slide">
                                <h1 class="info-slider_title">
                                    Включай новый сезон с WOMAZING
                                </h1>
                                <p class="info-slider_text">
                                    Мы обновили ассортимент - легендарные коллекции и новинки от отечественных дизайнеров
                                </p>
                                <button class="info-slider_button">
                                    <div class="button-vector"></div>
                                    <a href="#shop-gallery" class="info-slider_button_text">Открыть магазин</a>
                                </button>
                            </div>
                        </div>
                        <!-- if we need pagination -->
                        <div class="swiper-pagination margin-dot"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- second section screen -->
    <section class="second-screen">
        <div class="container ">
            <div class="shop">
                <h2 class="shop-title h-title">
                    Новая коллекция
                </h2>
                <div class="shop-gallery" id="shop-gallery">
                    <div class="shop-gallery_window">
                        <div class="shop-gallery_photo">
                            <img src="../static/images/shop.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                            <a href="#" class="shop-photo-bg">
                            </a>
                        </div>

                        <h3 class="shop-gallery_title">
                            Купальник Glow
                        </h3>
                        <p class="shop-gallery_price">
                            <s>$229</s> $129
                        </p>
                    </div>
                    <div class="shop-gallery_window">
                        <div class="shop-gallery_photo">
                            <img src="../static/images/shop-one.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                            <a href="#" class="shop-photo-bg">
                            </a>
                        </div>
                        <h3 class="shop-gallery_title">
                            Свитшот Sweet Shot
                        </h3>
                        <p class="shop-gallery_price">
                            <s>$169</s> $129
                        </p>
                    </div>
                    <div class="shop-gallery_window">
                        <div class="shop-gallery_photo">
                            <img src="../static/images/shop-two.jpg" class="shop-photo" width="350px" height="478px" alt="shop-photo">
                            <a href="#" class="shop-photo-bg">
                            </a>
                        </div>
                        <h3 class="shop-gallery_title">
                            Футболка USA
                        </h3>
                        <p class="shop-gallery_price">
                            $129
                        </p>
                    </div>
                </div>
                <button class="go-mag button" onclick="window.location.href = 'shop.html';">
                    Открыть магазин
                </button>
            </div>
        </div>
    </section>
    <!-- third section screen -->
    <section class="third-screen">
        <div class="container ">
            <div class="important">
                <h2 class="important-title h-title">
                    Что для нас важно
                </h2>
                <div class="important-category">
                    <div class="important-category_block block-one">
                        <h3 class="important-category_title">
                            Качество
                        </h3>
                        <p class="important-category_text">
                            Наши профессионалы работают на лучшем оборудовании для пошива одежды беспрецедентного качества
                        </p>
                    </div>
                    <div class="important-category_block block-two">
                        <h3 class="important-category_title">
                            Скорость
                        </h3>
                        <p class="important-category_text">
                            Благодаря отлаженной системе в Womazing мы можем отшивать до 20-ти единиц продукции в наших собственных цехах
                        </p>
                    </div>
                    <div class="important-category_block block-three">
                        <h3 class="important-category_title">
                            Ответственность
                        </h3>
                        <p class="important-category_text">
                            Мы заботимся о людях и планете. Безотходное производство и комфортные условия труда - все это Womazing
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fourth section screen -->
    <section class="fourth-screen">
        <div class="container">
            <div class="team">
                <h2 class="team-title h-title">
                    Команда мечты Womazing
                </h2>
                <div class="team-row">
                    <div class="team-container">
                        <div class="swiper team-slider">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper team-slider_gallery">
                                <!-- Slides -->
                                <div class="swiper-slide slider-gallery_photo">
                                    <img src="../static/images/final-slide-one.jpg" class="slide-gallery" alt="slide-gallery">
                                </div>
                                <div class="swiper-slide slider-gallery_photo">
                                    <img src="../static/images/final-slider-two.jpg" class="slide-gallery" alt="slide-gallery">
                                </div>
                                <div class="swiper-slide slider-gallery_photo">
                                    <img src="../static/images/final-slide-three.jpg" class="slide-gallery" alt="slide-gallery">
                                </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination pagination-class"></div>
                            <!-- If we need navigation buttons -->
                        </div>
                        <div class="ar-left arrow"></div>
                        <div class="ar-right arrow"></div>
                    </div>
                    <div class="team-description">
                        <h3 class="team-description_title">
                            Для каждой
                        </h3>
                        <p class="team-description_text">
                            Каждая девушка уникальна. Однако, мы схожи в миллионе мелочей.<br/><br/> Womazing ищет эти мелочи и создает прекрасные вещи, которые выгодно подчеркивают достоинства каждой девушки.
                        </p>
                        <a href="#" class="team-description_about">
                            Подробнее о бренде
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- footer section -->
    <footer class="footer">
        <div class="container">
            <div class="footer-menu">
                <div class="logo-footer">
                    <div class="logo  logotype">
                        <a href="#" class="logo-home">
                        WOMAZING
                    </a>
                    </div>
                    <div class="privacy">
                        <p class="privacy-security">
                            © Все права защищены
                        </p>
                        <p class="privacy-politic">
                            Политика конфиденциальности
                        </p>
                        <p class="privacy-public">
                            Публичная оферта
                        </p>
                    </div>
                </div>
                <div class="menu-footer">
                    <nav class="nav-menu nav-menu_footer">
                        <ul class="nav-menu-list">
                            <li class="menu-tab">
                                <a href="##../static/" class="menu-link">
                                    Главная
                                </a>
                            </li>
                            <li class="menu-tab">
                                <a href="##../static/" class="menu-link">
                                    Магазин
                                </a>
                            </li>
                            <li class="menu-tab">
                                <a href="##../static/" class="menu-link">
                                    О бренде
                                </a>
                            </li>
                            <li class="menu-tab">
                                <a href="##../static/" class="menu-link">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="menu-product">
                        <ul class="menu-product_list">
                            <li class="menu-product_tab">
                                <a href="#../static/" class="menu-product_link menu-link">
                                    Пальто
                                </a>
                            </li>
                            <li class="menu-product_tab">
                                <a href="#../static/" class="menu-product_link menu-link">
                                    Свитшоты
                                </a>
                            </li>
                            <li class="menu-product_tab">
                                <a href="#../static/" class="menu-product_link menu-link">
                                    Кардиганы
                                </a>
                            </li>
                            <li class="menu-product_tab">
                                <a href="#../static/" class="menu-product_link menu-link">
                                    Толстовки
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer-pay">
                    <div class="phone-number phone-number_footer">
                        <a href="#" class="phone phone-footer">
                            +7 (495) 823-54-12
                        </a>
                    </div>
                    <div class="footer-mail">
                        <a href="#" class="mail-address">
                            hello@womazing.com
                        </a>
                    </div>
                    <div class="footer-connect">
                        <button class="footer-connect_social insta">
                        
                        </button>
                        <button class="footer-connect_social fbook">

                        </button>
                        <button class="footer-connect_social twitter">

                        </button>
                    </div>
                    <div class="pay-variant">

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="../static/js/jquery.main.js"></script>
</body>

</html>